Repository tabulahussla/Scraper-Node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, deploy

.gitlab-ci.yml:

stages:
    - test
    - build
    - deploy
variables:
    CI_REGISTRY_IMAGE: "registry.gitlab.com/index_php/scraping/scraper/node.js:$CI_COMMIT_SHA"
    CI_PROJECT_NAME: scraper
test:
    image: "node:8-alpine"
    stage: test
    script:
        - "apk add --no-cache make gcc g++ python"
        - "yarn install"
        - "yarn test-ci"
    only:
        changes:
            - "src/**/*"
            - "test/**/*"
            - "config/**/*"
            - package.json
build:
    image: "docker:stable"
    stage: build
    services:
        - "docker:dind"
    script:
        - echo "$SSH_KEY" > ./id_rsa
        - eval "$(ssh-agent -s)"
        - ssh-add -K ./id_rsa
        - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
        - docker build --pull -t "$CI_REGISTRY_IMAGE" .
        - docker push "$CI_REGISTRY_IMAGE"
    only:
        refs:
            - master
        changes:
            - "src/**/*"
            - "test/**/*"
            - "config/**/*"
            - package.json
            - Dockerfile
            - .dockerignore
            - rollup.config.js
            - obfuscate.config.json
            - .babelrc
            - kubernetes.tpl.yml
deploy:
    stage: deploy
    image: alpine
    environment:
        name: develop
    script:
        - "apk add --no-cache curl"
        - "curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
        - "chmod +x ./kubectl"
        - "mv ./kubectl /usr/local/bin/kubectl"
        - 'kubectl config set-cluster kubernetes --server="$KUBE_URL" --insecure-skip-tls-verify=true'
        - 'kubectl config set-credentials kubernetes-admin --token="$KUBE_TOKEN"'
        - "kubectl config set-context default --cluster=kubernetes --user=kubernetes-admin"
        - "kubectl config use-context default"
        - 'printf "apiVersion: v1\nkind: Secret\n$(kubectl create secret docker-registry gitlab-registry --docker-server=$DOCKER_SERVER --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_PASSWORD --docker-email=$GITLAB_USER_EMAIL -o yaml --dry-run)" | kubectl apply -f -'
        - 'sed ''s/_APP_NAME_/''"$CI_PROJECT_NAME"''/g; s/_VERSION_/''"$CI_COMMIT_SHA"''/g; s/_JWT_SECRET_/''"$JWT_SECRET"''/g; s/_RESOURCE_BROKER_TOKEN_/''"$RESOURCE_BROKER_TOKEN"''/g; s/_DISCOVERY_TOKEN_/''"$DISCOVERY_TOKEN"''/g; s/_DISCOVERY_API_HOST_/''"$DISCOVERY_API_HOST"''/g; s/_DISCOVERY_API_PORT_/''"$DISCOVERY_API_PORT"''/g; s/_DISCOVERY_EXT_HOST_/''"$DISCOVERY_EXT_HOST"''/g; s/_DISCOVERY_EXT_PORT_/''"$DISCOVERY_EXT_PORT"''/g; s/_SVC_HOST_/''"$SVC_HOST"''/g; s/_SVC_PORT_/''"$SVC_PORT"''/g'' kubernetes.tpl.yml > kubernetes.yml;'
        - "kubectl apply -f kubernetes.yml"
    only:
        refs:
            - master
        changes:
            - "src/**/*"
            - "test/**/*"
            - "config/**/*"
            - package.json
            - Dockerfile
            - .dockerignore
            - rollup.config.js
            - obfuscate.config.json
            - .babelrc
            - kubernetes.tpl.yml

fx
  .gitlab-ci.yml
  Dockerfile
Due: build, deploy

fix
  .yarnrc
  Dockerfile
  config/default.json
  package.json
  rollup.config.js
  src/agency/agent-pool/agent-pool.class.js
  src/bootstrap/index.js
  src/discovery/client.js
  src/discovery/resource-broker.js
  src/plugins.js
  test/scraping.spec.js
  yarn.lock
Due: test, build, deploy

fix ci
  Dockerfile
  kubernetes.tpl.yml
  package.json
Due: test, build, deploy

ci
  .gitlab-ci.yml
Due: none

fix ci
  .gitlab-ci.yml
  config/custom-environment-variables.json
  config/default.json
  config/production.json
  kubernetes.tpl.yml
  package.json
Due: test, build, deploy

fix tests
  .gitlab-ci.yml
  Dockerfile
Due: build, deploy

use 3 replicas
  .editorconfig
  kubernetes.tpl.yml
Due: build, deploy

fix
  .gitlab-ci.yml
Due: none

bash escape tokens
  .gitlab-ci.yml
Due: none

replace node port
  config/default.json
  config/development.json
  kubernetes.tpl.yml
Due: test, build, deploy

discovery fix
  src/bootstrap/04-discovery.js
Due: test, build, deploy

fix discovery host
  config/default.json
Due: test, build, deploy

send pod ip as external hostname
  config/custom-environment-variables.json
  kubernetes.tpl.yml
Due: test, build, deploy

fix iield refreren
  kubernetes.tpl.yml
Due: build, deploy

discovey
  package.json
  yarn.lock
Due: test, build, deploy

update discovery client
  package.json
  yarn.lock
Due: test, build, deploy

update resource broker (fix reconnect)
  package.json
  yarn.lock
Due: test, build, deploy

expose docker
  Dockerfile
Due: build, deploy

setup concurrency
  config/production.json
Due: test, build, deploy

fix some errors
  config/default.json
  config/development.json
  nodemon.json
  package.json
  src/agency/agent.class.js
  src/bootstrap/02-discovery.js
  src/bootstrap/03-cluster.js
  src/bootstrap/04-api.js
  src/bootstrap/05-publish.js
  src/bootstrap/index.js
  src/bootstrap/worker/01-plugins.js
  src/bootstrap/worker/02-queues.js
  src/bootstrap/worker/index.js
  src/index.js
  src/plugins.js
  src/scraping/agent.js
  src/scraping/http.js
  yarn.lock
Due: test, build, deploy

update app annie plugin
  package.json
  yarn.lock
Due: test, build, deploy

use ports 7006 and 27006
  Dockerfile
  config/default.json
  config/development.json
  kubernetes.tpl.yml
Due: test, build, deploy

31102
  kubernetes.tpl.yml
Due: build, deploy

discover resource broker in background
  src/bootstrap/02-discovery.js
Due: test, build, deploy

use helm
  .gitlab-ci.yml
  Dockerfile
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/templates/ingress.yaml
  helm/templates/service.yaml
  helm/templates/tests/test-connection.yaml
  helm/values.yaml
  src/discovery/resource-broker.js
Due: test, build, deploy

probe server
  config/custom-environment-variables.json
  config/default.json
  kubernetes.tpl.yml
  src/api/probe.js
  src/bootstrap/-1-probe.js
  src/bootstrap/index.js
Due: test, build, deploy

boot probe server
  src/bootstrap/index.js
Due: test, build, deploy

fix: use pod ip instead of host ip
  helm/templates/deployment.yaml
Due: none

update jwt secret
  helm/values.yaml
Due: none

update rb token
  helm/values.yaml
Due: none

fix: connection to discovery using service host from kubernetes
  .gitlab-ci.yml
  helm/templates/deployment.yaml
  src/bootstrap/04-api.js
  src/bootstrap/05-publish.js
Due: test, build, deploy

fix: wait for api server to listen before publishing to discovery
  .gitlab-ci.yml
  src/bootstrap/04-api.js
Due: test, build, deploy

rename pm2
  process.yml
Due: none

option to disable probe server
  config/default.json
  src/api/probe.js
Due: test, build, deploy

refactor boot
  src/bootstrap/common/hrtime-to-ms.js
  src/bootstrap/common/hrtime.js
  src/bootstrap/index.js
  src/bootstrap/steps/api.js
  src/bootstrap/steps/cluster.js
  src/bootstrap/steps/database.js
  src/bootstrap/steps/discovery.js
  src/bootstrap/steps/make-folders.js
  src/bootstrap/steps/probe-server.js
  src/bootstrap/steps/publish.js
  src/bootstrap/worker/00-database.js
  src/bootstrap/worker/index.js
  src/bootstrap/worker/steps/plugins.js
  src/bootstrap/worker/steps/queues.js
Due: test, build, deploy

feat: stats
  config/default.json
  package.json
  src/bootstrap/steps/publish.js
  src/bootstrap/worker/index.js
  src/bootstrap/worker/steps/stats.js
  src/project.js
  src/stats/index.js
  yarn.lock
Due: test, build, deploy

feat: collect scraping job stats
  src/scraping/agent.js
  src/scraping/http.js
Due: test, build, deploy

feat: improve stats output
  config/default.json
  src/bootstrap/worker/steps/stats.js
Due: test, build, deploy

debug every scraping job
  src/api/services/scraping.service.js
Due: test, build, deploy

debug
  src/api/services/scraping.service.js
Due: test, build, deploy
